<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="main.com.models.Call" alias="Call"></typeAlias>
        <typeAlias type="main.com.models.Event" alias="Event"></typeAlias>
    </typeAliases>

    <mappers>
        <mapper resource="mappers/CallMapper.xml" />
        <mapper resource="mappers/EventMapper.xml" />
    </mappers>

</configuration>